.dependabot export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
codecov.yml export-ignore
renovate.json export-ignore
pyproject.toml export-ignore
tests/ export-ignore
tox.ini export-ignore
unittesting.json export-ignore
